.DS_Store
Thumbs.db

*.pem
*.key
*.crt
*.p12
id_rsa*
*.gpg
*.asc
.env
.env.*
!.env.example
secret*.yaml
!secret*.sops.yaml

.cache_ggshield

**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfplan
*.plan

.terraform.tfstate.lock.info

.terraformrc
terraform.rc
